{% extends 'base.html' %}

{% block title %}
<title>대학 강의 평가 - 강의</title>
{% endblock %}

{% block style %}
<style>
    .card{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'board' %}">강의 검색</a>
    <a class="nav-item nav-link" href="{% url 'add' %}">강의 추가</a>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <h4 class="card-title">{{ lecture.title }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">{{ lecture.professor }}</h5>
            {% if user.is_authenticated %}
                <a href="{% url 'evaluate' lecture.id %}" class="btn btn-outline-success btn-sm" style="float: right;">평가 등록하기</a>
            {% endif %}
            {% if user.is_superuser %}
            <br>
            <a href="{% url 'lecture_delete' lecture.id %}" class="btn btn-outline-danger btn-sm mt-sm-2">삭제</a>
            {% endif %}
        </div>
    </div>

    {% for review in lecture.review.all %}
    <div class="card">
        <h5 class="card-header">{{ review.user }}</h5>
        <div class="card-body">
            <h5 class="card-title">평점: {{ review.personal_score }}</h5>
            <p class="card-text">{{ review.body }}</p>
            <footer class="blockquote-footer">{{ review.created_at|date:"Y.m.d l" }}</footer>
            <a href="{% url 'review_delete' review.id %}" class="btn btn-outline-danger btn-sm mt-sm-2">삭제</a>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-danger" role="alert" style="margin-left: 25%; margin-right: 25%">
        이 강의에 대한 평가가 존재하지 않습니다.
        {% if user.is_authenticated %}
        <a href="{% url 'evaluate' lecture.id %}" class="alert-link">여기</a>를 눌러 지금 강의평가를 작성해보세요!
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}