{% extends 'base.html' %}

{% block title %}
<title>대학 강의 평가 - 강의</title>
{% endblock %}

{% block style %}
<style>
    .card{
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'search' %}">강의 검색</a>
    <a class="nav-item nav-link" href="{% url 'add' %}">강의 추가</a>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <h4 class="card-title">{{ lecture.title }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">{{ lecture.professor }}</h5>
        </div>
    </div>

    {% for review in lecture.review.all %}
    <div class="card">
        <h5 class="card-header">{{ review.user }}</h5>
        <div class="card-body">
            <h5 class="card-title">점수: {{ review.personal_score }}점 / 5점 만점</h5>
            <p class="card-text">{{ review.body }}</p>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-danger" role="alert" style="margin-left: 25%; margin-right: 25%">
        이 강의에 대한 평가가 존재하지 않습니다. <a href="#" class="alert-link">여기</a>를 눌러 지금 강의평가를 작성해보세요!
    </div>
    {% endfor %}
</div>
{% endblock %}