{% extends 'base.html' %}

{% block title %}
<title>대학 강의 평가</title>
{% endblock %}

{% block style %}
<style>
    a, a:link, a:visited, a:hover{
        color: white;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'board' %}">강의 검색</a>
    <a class="nav-item nav-link" href="{% url 'add' %}">강의 추가</a>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">대학 강의 평가 사이트</h1>
        <p class="lead">강의를 평가하고 서로 공유하여 더 좋은 대학 수업을 만들어갑시다.</p>
    </div>
</div>

<div style="text-align: center; margin-top: 8%; margin-bottom: 10%;">
    <a class="btn btn-dark btn-lg mr-sm-3 mt-sm-4" href="{% url 'board' %}">강의 검색</a>
    <a class="btn btn-dark btn-lg ml-sm-3 mt-sm-4" href="{% url 'add' %}">강의 추가</a>
</div>
{% endblock %}